/* Footer */
.footer {
  background: #1e1e1e;
  padding: 60px 0 40px;
}

.footer-content {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer-left {
  width: 50%;
}

.footer-brand {
  font-size: 2em;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}

.footer-description {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  line-height: normal;
}

.footer-right {
  text-align: left;
}

.footer-contact-title {
  font-size: 2em;
  font-weight: 500;
  color: #fff;
  margin-bottom: 30px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
}

.contact-item svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.rotated-icon {
  transform: rotate(-180.048deg);
  transform: rotateY(27deg);
  transform-origin: center;
}

.footer-divider {
  height: 1px;
  background: #fff;
  margin: 0 150px 30px;
}

.footer-bottom {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  font-size: .9em;
  font-weight: 400;
  color: #fff;
}

.footer-links {
  display: flex;
  gap: 40px;
}

.footer-links a {
  font-size: .9em;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 1400px) {
  .footer-content,
  .footer-bottom {
    padding-left: 50px;
    padding-right: 50px;
  }
  .footer-divider {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 1200px) {
  .footer-content {
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .footer-content,
  .footer-bottom {
    padding: 0 20px;
  }
  .footer-divider {
    margin: 0 20px 30px;
  }
  .footer-links {
    font-size: .9em;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 40px 20px;;
  }
  .footer-content {
    display: block;
    padding: 0;
  }
  .footer-left, .footer-right {
    width: 100%;
    text-align: left;
  }
  .footer-brand, .footer-contact-title {
    font-size: 1.5em;
  }
  .footer-description {
    font-size: 0.9em;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  .footer-contact-title {
    margin-bottom: 20px;
  }
  .contact-item svg {
    width: 20px;
    height: 20px;
  }
  .footer-links {
    display: flex;
    gap: 20px;
  }
  .footer-divider {
    margin: 20px 0;
  }
  .footer-bottom {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .footer-copyright {
    font-size: .9em;
  }
  .footer-links a {
    font-size: .9em;
  }
}

@media (min-width: 1920px) {
  .footer {
    padding: 60px 200px; 
  }
}
